


<div class="card text-center mb-4">
  <div class="card-header">
    <h5>Prise de masse en 8 semaines</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Ce programme convient aux plus aguerris.</h5>
    <p class="card-text">Le programme est composé de 4 séances d'environ 1h45 par semaine.</p>
    <a href="#" class="btn btn-primary">Consulter</a>
  </div>
  <div class="card-footer text-muted">
    Posté il y a 2 jours par jul
  </div>

</div>





<div class="card text-center mb-4">
  <div class="card-header">
    <h5>Sèche en 6 semaines</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Ce programme de sèche convient à tout les niveaux.</h5>
    <p class="card-text">Le programme est composé de 4 séances d'environ 1h20 par semaine.</p>
    <a href="#" class="btn btn-primary">Consulter</a>
  </div>
  <div class="card-footer text-muted">
    Posté il y a 3 semaines par jul
  </div>

</div>